#back-top {
    width: auto;
    position: fixed;
    right: 10px;
    bottom: 10px;
    float: none;
    z-index: 999;
}

#back-top a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    
    overflow: hidden;
}
#back-top span {
    width: 50px;
    height: 100px;
    display: block;
    background: url('../img/up-arrow-green.png') center 10px no-repeat;
    
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    background-size: auto 100%;
}

#back-top a:hover {
    background: #557a43;
    webkit-box-shadow: 0px 0px 2px #fff;
    box-shadow: 0px 0px 2px #fff;
}
#back-top a:hover span {
    background-position: center -40px;
    background-repeat: no-repeat;
}