.bx-wrapper {
	position: relative;
    max-width: 50%;
	margin: 0 auto 8px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	position: relative;
	width: 100%;
	display: block;
	z-index: -1;
}

.bx-wrapper .bxslider_hp img {
	height: 186px;
}

.bxslider_hp .crop {
    background: url('../img/slider_bottom.png') bottom left no-repeat;
}

.bxslider_hp h3 a{
   text-decoration: none;
   font-family: 'signikasemibold';
   font-size: 18px;
   color: #515151;
}

.bxslider_sp li {
    /* background: url('../img/slider_bottom.png') bottom left no-repeat; */
    /* background-size: 100% 12px; */
}

.sp .bx-wrapper {
  	width: 100%;
    margin: 24px auto 16px !important;
    display: block;
}
.center-slider {margin: 0 auto 16px !important;}

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	top: -19px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: right;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager .bx-pager-item {
    width: 18px;
    background: url('../img/slider_crumb.png') right center no-repeat;
}

.bx-wrapper .bx-pager .bx-pager-item:last-child {
    width: 10px;
    background: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #008000;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
    margin: 0px;
    color: #515151;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.sp .bx-wrapper img {
      height: auto;
}

.hp .bx-controls-direction .bx-prev {
	left: -30px;
	background: url('../img/news_left_arrow.png') no-repeat 9px 74px !important;
}

 .sp .bx-controls-direction .bx-prev {
	left: -30px;
	background: url('../img/news_left_arrow.png') no-repeat 9px 48% !important;
}

.hp .bx-controls-direction .bx-next {
	right: -30px;
	background: url('../img/news_right_arrow.png') no-repeat 9px 74px !important;
}

 .sp .bx-controls-direction .bx-next {
	right: -30px;
	background: url('../img/news_right_arrow.png') no-repeat 9px 48% !important;
}

 .hp .bx-controls-direction .bx-prev:hover {
	background: #e8e8e8 url('../img/news_left_arrow.png') no-repeat 9px 74px !important;
}

 .sp .bx-controls-direction .bx-prev:hover {
	background: #e8e8e8 url('../img/news_left_arrow.png') no-repeat 9px 48% !important;
}

 .hp .bx-controls-direction .bx-prev:active {
	background: #d7d7d7 url('../img/news_left_arrow.png') no-repeat 8px 74px !important;
}

.sp .bx-controls-direction .bx-prev:active {
	background: #d7d7d7 url('../img/news_left_arrow.png') no-repeat 8px 48% !important;
}

.hp .bx-wrapper .bx-next:hover {
	background: #e8e8e8 url('../img/news_right_arrow.png') no-repeat 9px 74px !important;
}

.sp .bx-wrapper .bx-next:hover {
	background: #e8e8e8 url('../img/news_right_arrow.png') no-repeat 9px 48% !important;
}

.hp .bx-wrapper .bx-next:active {
	background: #d7d7d7 url('../img/news_right_arrow.png') no-repeat 10px 74px !important;
}

.sp .bx-wrapper .bx-next:active {
	background: #d7d7d7 url('../img/news_right_arrow.png') no-repeat 10px 48% !important;
}

.hp .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 0px;
	outline: 0;
	width: 30px;
    height: 174px;
	text-indent: -9999px;
	z-index: 4;
}

.sp .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 0px;
	outline: 0;
	width: 30px;
	height: 100%;
	text-indent: -9999px;
	z-index: 4;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: center 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}