@font-face {
    font-family: 'signikalight';
    src: url('../font/signika-light-webfont.eot');
    src: url('../font/signika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/signika-light-webfont.woff') format('woff'),
         url('../font/signika-light-webfont.ttf') format('truetype'),
         url('../font/signika-light-webfont.svg#signikalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../font/signika-regular-webfont.eot');
    src: url('../font/signika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/signika-regular-webfont.woff') format('woff'),
         url('../font/signika-regular-webfont.ttf') format('truetype'),
         url('../font/signika-regular-webfont.svg#signikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikasemibold';
    src: url('../font/signika-semibold-webfont.eot');
    src: url('../font/signika-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/signika-semibold-webfont.woff') format('woff'),
         url('../font/signika-semibold-webfont.ttf') format('truetype'),
         url('../font/signika-semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikabold';
    src: url('../font/signika-bold-webfont.eot');
    src: url('../font/signika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/signika-bold-webfont.woff') format('woff'),
         url('../font/signika-bold-webfont.ttf') format('truetype'),
         url('../font/signika-bold-webfont.svg#signikabold') format('svg');
    font-weight: normal;
    font-style: normal;
}