html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body { height: auto; min-height: 100%; min-width: 100%; float: left;}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* remember to define focus styles! */
:focus { outline: 0; }


/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }


input, textarea, select, button{
    font-size: 1em;
    font-family: "Arial CE", Arial, Helvetica, sans-serif;
}

input::-moz-focus-inner
{ 
    border: 0;
    padding: 0;
}

button{
    padding: 0;
    margin: 0;
    border: 0;
}

button::-moz-focus-inner{
    padding: 0;
    margin: 0;
    border: 0;
}

.noscreen,
.printonly { 
    display: none;
}

.clear {
   clear: both;
   display:block;
   height: 0px;
   line-height: 0px;
   overflow:hidden;
   border: none;
   color: #fff;
   margin: 0;
   padding: 0;
}