#nfitables_filter {
    margin: 0 0 3px 0;
}
#nfitables_filter input {
    padding: 6px;
    border: 1px solid #515151;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #515151;
}
.dataTables_wrapper {
    padding: 0 0 50px;
}
.table.dataTable thead .sorting {
    font-family: Arial;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
}
.table.dataTable thead th,
table.dataTable thead td {
    padding: 8px 17px;font-family: Arial;text-align: left;font-size: 14px;
}
.table.information td:first-child {
    min-width: 120px;
    font-weight: bold;
}

.table td{
    vertical-align: top;
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 9px 0 9px 17px;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #515151;
    line-height: 16px;
}
.table.dataTable.no-footer {
    padding: 12px 0 0;
}
.dataTables_length,
#nfitables_filter,
.dataTables_info,
.paginate_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #557a43;
}
.item-page th {
    border-width: 0px 0px 1px 1px;
    text-align: left;
    font-size: 13px;
    font-family: Arial;
}
th.sorting_desc {
    background: #008000 url('../img/sort_desc.png') no-repeat center right !important;
    color: #fff;
}
th.sorting_asc {
    background: #008000 url('../img/sort_asc.png') no-repeat center right !important;
    color: #fff;
}
th.sorting {
    background: #008000 url('../img/sort_both.png') no-repeat center right !important;
    color: #fff;
}
#right-content tr:first-child td {
    border-width: 0px 0px 1px 1px;
    text-align: left;
    font-size: 13px;
    font-family: Arial;
    background: #008000;
    color: #fff;
}
table {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 1px solid #ffffff;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
table th {font-family: Arial;}
table > tr:nth-child(even) > td , table > tr:nth-child(even) > th {
    background: #f0f0f0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
table tr:last-child td:last-child, table tr:last-child th:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
table table tr:first-child td:first-child, table table tr:first-child th:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
table table tr:first-child td:last-child, table table tr:first-child th:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
table tr:last-child td:first-child, table tr:last-child th:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
table tr:hover td {} table tr:nth-child(odd) {
    background-color: #ffffff;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table td, table th {
    vertical-align: middle;
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 11px;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    color: #515151;
}
table th {
    vertical-align: top;
    font-weight: bold;
}
table tr:last-child td {
    border-width: 0px 1px 0px 0px;
}
table tr td:last-child {
    border-width: 0px 0px 1px 0px;
}
table tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}
table tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}
table tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}
table a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #008000;
}
table a:hover {
    text-decoration: underline;
}
table tr:hover td {
    background: #f9f9f9;
}

table td.alignRight {
	text-align: right;
}
