/* config */
.bg(@clr) when(iscolor(@clr)){background: @clr;}
.bg(@img,@position-repeatment: left top repeat, @dir: img) when(isstring(@img)){
  		background: url(@{dir}/@{img}) @position-repeatment;
}
.add-font(@font-name, @font-file, @font-weight: normal, @font-style: normal){
      font-family: '@{font-name}';
      src: url('files/fonts/@{font-file}.eot');
      src: url('files/fonts/@{font-file}.eot?#iefix') format('embedded-opentype'),
          url('files/fonts/@{font-file}.woff') format('woff'),
          url('files/fonts/@{font-file}.ttf') format('truetype'),
          url('files/fonts/@{font-file}.svg#@{font-name}') format('svg');

      font-weight: @font-weight;
      font-style: @font-style;
}

/* img {display: none;} */

/* bubble */
.bubble-help {
	display: none;
}
.bubble-help-hover {
	position: relative;
}
.bubble-help-hover .bubble-wrap {
	position: absolute;
	left: -10px;
	pointer-events: none;
	z-index: 200;
}
.bubble-help-hover .bubble-wrap .bubble-help {
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: #557a43;
	border-radius: 5px;
	padding: 5px 15px;
}
.bubble-help-hover .bubble-wrap >div+div {
	text-align: left;
	font-size: 14px;
	line-height: 1em;
	color: #557a43;
	padding-left: 12px;
	margin-top: -0.2em;
}

/* top-lista */
#top-header {height: 48px;border-bottom: 0px;background: #2e2e2e;}
#top-header a {height: 48px;line-height: 48px;padding-right: 56px;font-family: Arial;font-size: 14px;color: #bcbcbc;font-weight: bold;text-decoration: none;text-transform: uppercase;display: block;background: url(img/top_link_bg.png) 526px 7px no-repeat;}
#top-header a:hover {background: url(img/top_link_bg_hover.png) 526px 7px no-repeat;}
#top-header a:active {background: url(img/top_link_bg_active.png) 526px 7px no-repeat;}
#top-header img {
    display: block;
    float: left;
    padding: 0;
}


/* news */

.news-detail #system-message-container,
.search-detail #system-message-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 44px;
    height: 95%;
    .bg('content_grad_left.png', top left no-repeat);
    background-size: 44px 100%;
    z-index: 2;
    display: block;
}

.news-detail #content {
    .container {width: 855px; padding: 30px 35px 30px 40px;}
    .article-info {margin: 0 0 12px;}

    ul, ol {
          margin: 5px 0 10px 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          color: #515151;

          a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            color: #557a43;
          }
          a:hover {text-decoration: none;}
    }
    p a {
          padding: 0 0 0 9px;
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          color: #557a43;
          .bg('content_green_arrow.png', left center no-repeat);
    }
    p a:hover {text-decoration: underline;}
    h2 {margin: 0 0 13px;font-family: 'signikasemibold';font-size: 25px;color: #515151;}
    h3 {margin: 0 0 7px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
    p + p {margin: 10px 0 0;}
    p + h2 {margin: 36px 0 13px;}
    p + h3,
    button + h3{margin: 20px 0 7px;}
    h4 {margin: 0 0 10px;font-family: 'signikalight';font-size: 19px;color: #557a43;}
    h4 + p {margin: 0 0 20px;}
    p, dl {line-height: 17px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}
    .label-warning,
    .article-info-term,
    .icons {
            display: none;
    }
}

#news {
  button a {text-decoration: none; color: #fff;}
  button a:hover {text-decoration: none; color: #fff;}
  .moduletable > h3 {
        margin: 0 0 25px !important;
        font-family: 'signikasemibold' !important;
        font-size: 25px !important;
        color: #2e2e2e !important;
  }

  .mod-articles-category-title {
        margin: 0 0 10px;
        font-family: 'signikalight';
        font-size: 19px;
        color: #008000;
        text-decoration: none;
        display: block;
  }
  .mod-articles-category-introtext {margin: 10px 0 20px;}
  .mod-articles-category-writtenby,
  .mod-articles-category-date {
        line-height: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #515151;
  }
  .mod-articles-category-writtenby {display: none;}
}


/* global */
html {background: #fff;}
.container {position: relative;width: 930px;height: 100%;margin: 0 auto;}

#header {
      position: relative;
      width: 100%;
      height: 188px;
      background-repeat: repeat;
      background-position: top left;
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */

      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGM4YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background-image: #c8c8c9 url('img/header_pattern.png');
      background-image: url('img/header_pattern.png'), -moz-linear-gradient(top,  #f0f0f0 0%, #c8c8c9 100%); /* FF3.6+ */

      background-image: url('img/header_pattern.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#c8c8c9)); /* Chrome,Safari4+ */

      background-image: url('img/header_pattern.png'), -webkit-linear-gradient(top,  #f0f0f0 0%,#c8c8c9 100%);  /* Chrome10+,Safari5.1+ */
      background-image: url('img/header_pattern.png'), -o-linear-gradient(top,  #f0f0f0 0%,#c8c8c9 100%); /* Opera 11.10+ */
      background-image: url('img/header_pattern.png'), -ms-linear-gradient(top,  #f0f0f0 0%,#c8c8c9 100%); /* IE10+ */

      background-image: url('img/header_pattern.png'), linear-gradient(to bottom,  #f0f0f0 0%,#c8c8c9 100%);  /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c8c8c9',GradientType=0 ); /* IE6-8 */
}

#logo {position: absolute; left: -192px;}
#logo-link {position: absolute;top: 19px;left: 14px;width: 178px;height: 92px;text-indent: -1000em;}
#lang {
      position: absolute;
      top: 15px;
      right: 1px;
  	  display: none;

      a,
        span {text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #557a43;}
      a:hover {text-decoration: underline;}
      span {padding: 0 2px;}
}
#search,
#login {position: absolute;top: 67px;}
#login {
	right: 0px;
	width: 38px;
	height: 32px;
	.bg('icon_user.png', #557a43 0px 0px no-repeat);
	cursor: pointer;

	&:hover {.bg('icon_user.png', #466537 0px 0px no-repeat);}
	&:active {.bg('icon_user.png', #3a542e 0px 1px no-repeat);}
    display: none;
}

#search {
	right: 67px;

	button {position: absolute;top: 0px;right: 0px;width: 39px;height: 32px;.bg('icon_search.png', #008000);cursor: pointer;}
    button:hover {.bg('icon_search.png', #466537);}
    button:active {.bg('icon_search.png', #3a542e 0px 1px);}

	input {
          position: absolute;
          top: 0px;
          right: 44px;
          width: 261px;
          padding: 0 11px;
          height: 33px;
          border: 0px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-style: italic;
          color: #515151;
          .bg('input_search.png', 0px 0px no-repeat);
    }
}

#menu {
    position: relative;
    top: 140px;
    height: 48px;
    background: #008000;

    > ul {position: relative;height: 100%;}
    li {position: relative;height: 100%;float: left;z-index: 5;display: block;}

    > ul > li > ul {
          position: absolute;
          top: 45px;
          min-width: 223px;
          padding: 16px 0 16px;
          -webkit-box-shadow: 3px 3px 5px 5px #515151;
          box-shadow: 0px 3px 3px 0px #515151;
          background: #fff;
          background: #ececed; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top, #ececed 0%, #ffffff 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #ececed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #ececed 0%,#ffffff 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #ececed 0%,#ffffff 100%); /* IE10+ */
          background: linear-gradient(to bottom, #ececed 0%,#ffffff 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececed', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

          display: none;
          z-index: 999;
    }
    > ul > li > ul > li {width: 100%;}
    > ul > li > ul > li > a,
    > ul > li > ul > li > span {
          padding: 9px 30px 9px 46px;
    	    line-height: 15px;
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13px;
          color: #008000;
          .bg('menu_item_arrow.png', 31px 10px no-repeat);
          display: block;
    }
    > ul > li:hover {z-index: 99;}
    > ul > li:hover > a,
    > ul > li:hover > span {
          -webkit-box-shadow: 0px 1px 2px -1px #515151;
          box-shadow: 0px 1px 2px -1px #515151;

          color: #008000;
          background: #fdfdfd; /* Old browsers */
          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VjZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
          background: -moz-linear-gradient(top,  #fdfdfd 0%, #ececed 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#ececed)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #fdfdfd 0%,#ececed 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #fdfdfd 0%,#ececed 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #fdfdfd 0%,#ececed 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #fdfdfd 0%,#ececed 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#ececed',GradientType=0 ); /* IE6-8 */
    }
    > ul > li > ul > li:hover > a,
    > ul > li > ul > li:hover > span {color: #fff;background: #008000;}
    > ul > li:hover > ul {display: block;}
    > ul > li > a,
    > ul > li > span {
          padding: 16px 31px 15px;
          text-decoration: none;
          color: #fff;
          font-family: 'signikalight';
          font-size: 17px;
          display: block;
    }
    > ul > li.active > a,
    > ul > li.active > span {font-family: Arial;background: #2e2e2e;color: #fff;}
    > ul > li.active > a:hover,
    > ul > li.active > span:hover {color: #fff;-webkit-box-shadow: 0 0 0 0 #fff;box-shadow: 0 0 0 0 #fff;}
}

#full-content {
      position: relative;
  	  width: 100%;
      float: left;
      padding: 0 0 6%;

      strong {font-weight: bold;}
      p a {padding: 0px !important;text-decoration: underline !important;background: none !important;}
  	  a:hover {text-decoration: none !important;}
      #right-content,
      #left-content {
            width: 100% !important;
            padding-bottom: 0px !important;
            float: left !important;
      }
      #left-content {max-width: 873px;}
      #right-content #top-content {padding: 35px 31px 25px !important;}
}

.search { // modul hledat
  	  position: relative;
  	  width: 100%;
  	  font-family: 'signikalight';
	  font-size: 13px;
      float: left;

      a {
    		line-height: 15px;
    		text-decoration: underline;
    		font-family: Arial, Helvetica, sans-serif;
            color: #557a43;
 	   }
  	   a:hover {text-decoration: none;}
       .result-text {
            margin: 0 0 20px;
    		line-height: 17px;
          	font-size: 13px;
    		font-family: 'signikalight';
    		font-style: italic;
 	   }
  	  .searchintro {
            padding: 25px 25px 26px 30px;
            font-family: 'signikasemibold';
            font-size: 18px;
            color: #515151;
      }
  	  .search-results {padding: 0px 25px 25px 30px;}
      .btn-toolbar,
      .phrases,
      .only,
      .form-limit,
      .result-category,
      .result-created {display: none;}
}

.sp {
  	.col2 {width: 100%;margin: 40px 0 20px;display: inline-block;vertical-align: top;}
	.col2 p {width: 100%;text-align: left;}
	.dotted-line {width: 100%;height: 2px;.bg('footer_dotted_line.png', top left repeat-x);}
  	#content {position: relative;max-height: 500px;width: 100%;height: auto;float: left;}
  	#left-content {
          position: relative;
          width: 525px;
          padding: 30px 27px 30px 30px;
          float: left;

          ul, ol {
                margin: 5px 0 10px 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                color: #515151;

                a {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 13px;
                  color: #008000;
                }
      			a:hover {text-decoration: none;}
          }
          p a {
                text-decoration: underline;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                color: #008000;
          }
          p a:hover {text-decoration: none;}
          h2 {margin: 0 0 13px;font-family: Arial;font-weight: bold;font-size: 25px;color: #2e2e2e;}
          h3 {margin: 0 0 7px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
          p + p {margin: 10px 0 0;}
          p + h2 {margin: 36px 0 13px;}
          .eks { // mapa webu
                margin: 0px;

      			ul {margin: 5px 0px 30px 20px;}
      			li {margin: 0 0 8px;}
                h2 {margin: 0 0 7px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
                a {
                      line-height: 15px;
                      text-decoration: none;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 13px;
                      color: #557a43;
                }
    	  }
          p + h3,
          button + h3{margin: 20px 0 7px;}
          h4, h5 {margin: 0 0 10px;font-family: 'signikalight';font-size: 19px;color: #557a43;}
          h4 + p, h5 + p {margin: 0 0 20px;}
  		  h5 {margin: 4px 0 0 !important;}
          p {line-height: 17px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}
          button {margin: 18px 0 0 0;padding: 10px 10px 10px 29px;background: #008000;cursor: pointer;}
          button:hover {background: #466537;}
          button:active {padding: 10px 9px 10px 29px;background: #3a542e;}
          button:active span {padding: 0 27px 0 0;}
          button span {
                padding: 0 26px 0 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                color: #fff;
                .bg('btn_green_arrow.png', right center no-repeat);
          }
          #shadow-corner {
                 position: relative;
                 top: 10px;
                 left: -59px;
                 width: 410px;
                 height: 245px;
                 .bg('news_corner.png', top top no-repeat);
          }
          #box {
                 position: absolute;
                 top: 59px;
                 left: 59px;
                 width: 301px;
                 min-height: 380px;
                 padding: 0 47px 0 0;

                 h2 + p {margin: 0 0 10px;}
          }
    }

	#right-content {
         position: relative;
         width: 348px;
         min-height: 94%;
         padding: 0 0 6%;
         float: right;
  		 h2 {margin: 0 0 13px;font-family: 'signikasemibold';font-size: 25px;color: #515151;}
         h3 {margin: 0 0 7px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
  		 ul,
		 ol {
              margin: 5px 0 10px 20px;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              color: #fff;
         }
  		 button {margin: 16px 0 19px 0;padding: 10px 10px 10px 35px;background: #008000;cursor: pointer;}
  		 button:hover {background: #466537;}
  		 button:active {padding: 10px 9px 10px 35px;background: #3a542e;}
         button:active span {padding: 0 36px 0 0;}
         button span {
              padding: 0 35px 0 0;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: bold;
              color: #fff;
    		  .bg('btn_tyrk_arrow.png', right center no-repeat);
          }
  		 p a {
              padding: 0 0 0 9px;
              text-decoration: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              color: #008000;
    		  .bg('content_tyrk_arrow.png', left center no-repeat);
          }
  		 p a:hover {text-decoration: underline;}
  		 #top-content {
               min-height: 54px;
               padding: 35px 28px 25px;
               line-height: 17px;
               background: #8DBC64;

    		   h1 {padding: 0 0 10px;font-family: 'signikasemibold';font-size: 25px;color: #fff;}
    		   p {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #fff;}
         }

  		 #mid-content {
               min-height: 150px;
               padding: 20px 30px 1px;
    		   .bg('content_sect_arrow.png', 30px 0px no-repeat);

    			h3 {margin: 0 0 10px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
    		    h4 {margin: 0 0 6px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}
    			.dotted-line {position: absolute;left: 0px;}
    			.dotted-line + h3 {margin: 12px 0 10px;}
         }
  		#bottom-content {padding: 20px 0 1px 30px;}
		.select-long {
               width: 342px;
               height: 33px;
               line-height: 33px;
               margin: 0 0 10px;
    		   .bg('select_tyrk_long.png', top left no-repeat);
               overflow: hidden;

    			select {
                       width: 385px;
                       height: 33px;
                       padding: 0 7px;
                       border: 0px;
                       line-height: 33px;
                       font-family: Arial, Helvetica, sans-serif;
                       font-size: 13px;
                       font-style: italic;
                       color: #515151;
                       background: transparent;
                       -webkit-appearance: none;
                       cursor: pointer;
    			}
          }
          .select-long select:disabled {
               background-image: url(img/select_tyrk_long_disabled.png) !important;
          }
  		  .select-short {
               width: 283px;
               height: 33px;
               margin: 0 0 12px;
               line-height: 33px;
    		   .bg('select_tyrk_short.png', top left no-repeat);
               overflow: hidden;

    			select {
                       width: 385px;
                       height: 33px;
                       padding: 0 7px;
                       border: 0px;
                       font-family: Arial, Helvetica, sans-serif;
                       font-size: 13px;
                       font-style: italic;
                       color: #515151;
                       background: transparent;
                       -webkit-appearance: none;
                       cursor: pointer;
                }
			}
			.dotted-line {.bg('footer_dotted_line.png', #f0f0f0 top left repeat-x);}
	}

	#right-content #shadow-vertical,
    #full-content #shadow-vertical {
           position: absolute;
           top: 0px;
           left: 0px;
           width: 44px;
           height: 95%;
           .bg('content_grad_left.png', top left no-repeat);
           background-size: 44px 100%;
           z-index: 2;
    }
    #left-content ul,
    #right-content ul {line-height: 17px;list-style-type: square !important;}
    #left-content ol,
    #right-content ol {line-height: 17px;list-style-type: decimal !important;}
}

.hp {
      #content {position: relative;max-height: 500px;width: 100%;height: auto;float: left;}
      #left-content {
            position: relative;
            left: 30px;
            width: 348px;
            .bg('menu_item_active_arrow.png', 42px 0px no-repeat);
            float: left;

            p a {
              padding: 0 0 0 9px;
              text-decoration: none;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              color: #008000;
              .bg('content_green_arrow.png', left center no-repeat);
            }
            p a:hover {text-decoration: underline;}

            h2 {margin: 0 0 25px;padding: 30px 0 0 0;font-family: 'signikasemibold';font-size: 25px;color: #2e2e2e;}
            h3 {margin: 0 0 7px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
            h4 {margin: 0 0 10px;font-family: 'signikalight';font-size: 19px;color: #557a43;}
            h4 + p {margin: 0 0 20px;}
    		p + p {margin: 10px 0 0;}
            p {line-height: 17px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}

            #slider {
                  width: 305px;

                  h2 {margin: 0 0 13px;}
                  p + p {margin: 10px 0 0;}
            }

            #shadow-corner {position: relative;top: 10px;left: -59px;width: 410px;height: 245px;.bg('news_corner.png', top left no-repeat);}
            #news {
                position: absolute;
                top: 59px;
                left: 59px;
                width: 301px;
                min-height: 380px;
                padding: 0 47px 0 0;

                h2 + p {margin: 0 0 10px;}
            }

            button {margin: 18px 0 0 0;padding: 10px 10px 10px 29px;background: #008000;cursor: pointer;}
            button:hover {.bg(#466537);}
            button:active {padding: 10px 9px 10px 29px;background: #3a542e;}
            button:active span {padding: 0 27px 0 0;}
            button span {
              padding: 0 26px 0 0;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              color: #fff;
              .bg('btn_green_arrow.png', right center no-repeat);
            }
      }

      #right-content {
           position: relative;
           width: 552px;
           padding: 0 0 45px;
           float: right;

           button {margin: 16px 0 19px 0;padding: 10px 10px 10px 35px;background: #008000;cursor: pointer;}
           button:hover {background: #466537;}
           button:disabled {background: grey;}
           button:active {padding: 10px 9px 10px 35px;background: #3a542e;}
           button:active span {padding: 0 36px 0 0;}
           button span {
                  padding: 0 35px 0 0;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 16px;
                  font-weight: bold;
                  color: #fff;
                  .bg('btn_tyrk_arrow.png', right center no-repeat);
            }

            p a {
                  padding: 0;
                  text-decoration: none;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 13px;
                  color: #008000;
            }
            p a:hover {text-decoration: underline;}

           #shadow-vertical {
                 position: absolute;
                 top: 0px;
                 left: 0px;

                 width: 44px;
                 height: 100%;

                 .bg('content_grad_left.png');
                 background-position: top left;
                 background-repeat: no-repeat;

                 background-size: 44px 100%;
                 z-index: 2;
            }

            #top-content {
                  min-height: 54px;
                  padding: 35px 28px 25px;
                  line-height: 17px;
                  background: #8dbc64;

                  h1 {padding: 0 0 10px;font-family: 'signikasemibold';font-size: 25px;color: #fff;}
                  p {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #fff;}
            }
            #mid-content {
                  min-height: 315px;
                  padding: 20px 30px 1px;
                  .bg('content_sect_arrow.png', #f0f0f0 30px 0px no-repeat);

                  h3 {margin: 0 0 10px;font-family: 'signikasemibold';font-size: 18px;color: #515151;}
                  h4 {margin: 0 0 6px;font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}
                  .dotted-line {position: absolute;left: 0px;}
                  .dotted-line + h3 {margin: 12px 0 10px;}
            }
            .select-long {
                   width: 342px;
                   height: 33px;
                   line-height: 33px;
                   margin: 0 0 10px;
                   .bg('select_tyrk_long.png', top left no-repeat);
                   overflow: hidden;

                   select {
                          width: 385px;
                          height: 33px;
                          padding: 0 7px;
                          border: 0px;
                          line-height: 33px;
                          font-family: Arial, Helvetica, sans-serif;
                          font-size: 13px;
                          font-style: italic;
                          color: #515151;
                          background: transparent;
                          -webkit-appearance: none;
                          cursor: pointer;
                    }
             }
			.select-long select:disabled {
               background-image: url(img/select_tyrk_long_disabled.png) !important;
			}
            .select-short {
                   width: 283px;
                   height: 33px;
                   margin: 0 0 12px;
                   line-height: 33px;
                   .bg('select_tyrk_short.png', top left no-repeat);
                   overflow: hidden;

                    select {
                           width: 385px;
                           height: 33px;
                           padding: 0 7px;
                           border: 0px;
                           font-family: Arial, Helvetica, sans-serif;
                           font-size: 13px;
                           font-style: italic;
                           color: #515151;
                           background: transparent;
                           -webkit-appearance: none;
                           cursor: pointer;
                    }
            }
    	}
  }
  #map {width: 552px;height: 397px;}
  #footer {
    position: relative;
    width: 100%;
    height: 100px;
    .bg('footer_grad_bottom.png', #e1e4df bottom center no-repeat);
    float: left;

    h2 {margin: 60px 0 0 0;font-family: Arial;font-weight: bold;font-size: 25px;color: #2e2e2e;}
    span {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color: #515151;}
    span strong {font-size: 16px;font-weight: normal;}
    .dotted-line {position: relative;top: -1px;}
  }

  #footer-left {
      width: 450px;
      min-height: 150px;
      float: left;
  }

  #footer-right {
      position: relative;
      width: 480px;
      min-height: 150px;
      float: right;

      p {position: absolute;top: 39px;left: 97px;}
      span {margin: 0 0 0 30px;}
      p a {text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-size: 16px;color: #008000;}
      p a:hover {text-decoration: underline;}
  }

  #footer-uhul {position: absolute;top: 5px;left: 165px;}
  #footer-uhul:hover {opacity: 0.7;}
  #footer-smartopendata {position: absolute;top: 30px;left: 280px;}

  #copyright {
  	position: relative;
    width: 100%;
    height: 44px;
    float: left;

    p {margin: 15px 0 0 28px;font-family: Arial, Helvetica, sans-serif;font-size: 12px;color: #2e2e2e;float: left;}
    p + p {float: right;}
    a + a {margin: 0 7px 0 18px;}
    p a {
      padding: 0 0 0 9px;
      text-decoration: none;
      line-height: 27px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #557a43;
      .bg('content_green_arrow.png', left center no-repeat);
    }
    p a:hover {text-decoration: underline;}
 	#copyright-description {position: absolute; left: 0px; top: -7px; line-height: 14px;}
  }

  .dotted-line {width: 100%;height: 2px;.bg('footer_dotted_line.png', top left repeat);}
  #right-content .dotted-line {.bg('footer_dotted_line.png', #f0f0f0);}
  #intro-description {
      position: fixed;
      bottom: -37px;
      left: 0px;
  	  width: 96%;
      height: 35px;
      padding: 0 2%;
      line-height: 35px;
  	  text-align: center;
      font-family: 'signikalight';
      font-size: 13px;
      color: #fff;
      background: #008000;
      z-index: 9999;
	}

  #back-top a:hover {background: #008000;}

/* pagination archiv */
	.pagination {margin: 44px 0 20px;}
	.pagination > p {display: inline-block;vertical-align: top;}
	.pagination > ul {display: inline-block;vertical-align: top;float: right;}
	.pagination > ul li {display: inline-block;vertical-align: top;margin-right: 5px;}

	.form-more-steps {position: absolute;left: 308px;margin-top: 4px;font-size: 12px;display: inline-block;}


.intro-boxes {
	display: flex;
	flex-wrap: wrap;
}
.intro-box {
	width: 50%;
	padding: 1rem;
	box-sizing: border-box;
}
.intro-box a {
	color: #008000;
}
.intro-box .mod-articles-category-date {
	font-size: .8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #515151;
	display: block;
	padding-bottom: .2rem;
}
.intro-box .crop {
	margin-bottom: 1rem;
	height: 271px;
}
.intro-box .crop img {
	max-width: 100%;
	z-index: -1;
	position: relative;
}
.hp #left-content #news {
  position: relative;
  left: unset;
  top: unset;
  width: auto;
  padding: 0;
  min-height: 0;
}
.hp #left-content #news ul.category-module.news-detail {
	list-style: none !important;
	margin-left: 2px;
}
.hp #left-content #news ul.category-module.news-detail li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hp #left-content #news ul.category-module.news-detail li > a.mod-articles-category-title {
	font-family: 'signikasemibold';
	font-size: 18px;
	color: #515151;
	margin: 0;
}
.hp #left-content #news ul.category-module.news-detail li .mod-articles-category-date {
	display: block;
	padding: 2px 4px;
	background: #e4e2e2;
	font-size: .8em;
	margin: 0 10px;
}
.hp #left-content #news ul.category-module.news-detail li .mod-articles-category-introtext {
	margin-bottom: 0;
}
.hp #left-content #news ul.category-module.news-detail li .mod-articles-category-readmore {
	margin-top: 7px;
}
.hp #left-content #news ul.category-module.news-detail li p {
	width: 100%;
}
.hp #left-content #news > a {
	width: 100%;
}
.hp #left-content .news {
	display: flex;
	align-items: center;
}
.hp #left-content .news h2 {
  margin: 20px 0 10px 0;
	padding: 0;
}
.hp #left-content .news a {
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fff;
	background: #008000;
	display: block;
	padding: 7px 12px;
	text-decoration: none;
}
.hp #left-content .news a:after {
	content: " »";
	margin-left: 10px;
	display: inline-block;
}
.hp #left-content {
  background: none;
}
