.smallmap {
    width: 552px;
    height: 397px;
}

.bigmap {
    width: 873px !important;
	height: 628px !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
   	overflow:auto;
	min-width: 150px;
	max-width: 250px;
    max-height: 120px;
    float:none;
}
.info h3 {
    color: #515151;
    font-size: 15px;
    margin: 0 0 7px;
}
.info h4 {
    margin: 0 0 5px;
    font-size: 15px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
} 
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.legend-tile {
    line-height: 10px;
    color: #555;
}
.legend-tile i {
    width: 18px;
    height: 18px;
    float: left;
    margin-top: -4px;
    margin-right: 8px;
    opacity: 0.7;
}

.legend-tile h3 {
    color: #515151;
    font-size: 15px;
    margin: 0 0 12px;
}

.leaflet-bar a {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  /* border-bottom-color: rgb(204, 204, 204); */
  color: #444;
  display: block;
  height: 26px;
  width: 26px;
  line-height: 1.45 !important;
  text-align: center;
  text-decoration: none;
  font: bold 18px'Lucida Console', Monaco, monospace;
}
