
body {
    background: white none no-repeat fixed left top;
    font-family: Arial;
    margin: 0;
    padding: 2em 1em 2em 70px;
    color: #515151;
    font-size: 16px;
    line-height: 17px;
}
#top-header {
    background: #2e2e2e none repeat scroll 0 0;
    border-bottom: 0 none;
    height: 48px;
}
#top-header a {
    background: rgba(0, 0, 0, 0) url("img/top_link_bg.png") no-repeat scroll 526px 7px;
    color: #bcbcbc;
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    padding-right: 56px;
    text-decoration: none;
    text-transform: uppercase;
}
#top-header a:hover {
    background: rgba(0, 0, 0, 0) url("img/top_link_bg_hover.png") no-repeat scroll 526px 7px;
}
#top-header a:active {
    background: rgba(0, 0, 0, 0) url("img/top_link_bg_active.png") no-repeat scroll 526px 7px;
}
#top-header img {
    display: block;
    float: left;
    padding: 0;
}
#logo-link {
    height: 92px;
    left: 14px;
    position: absolute;
    text-indent: -1000em;
    top: 19px;
    width: 178px;
}
:link {
    background: transparent none repeat scroll 0 0;
    color: #00c;
}
:visited {
    background: transparent none repeat scroll 0 0;
    color: #609;
}
a:active {
    background: transparent none repeat scroll 0 0;
    color: #c00;
}
h1, h2, h3, h4, h5, h6 {
    text-align: left;
}
h1 {
    font: 170% Arial;
    color: #008000;
    font-weight: bold;
}
h2 {
    font: 140% Arial;
    color: #2e2e2e;
    font-weight: bold;
    margin: 13px 0 13px;
}
h3 {
    font: 120% Arial;
    color: #515151;
    margin: 0 0 7px;
}
h4 {
    font: bold 100% Arial;
}
h5 {
    font: italic 100% Arial;
}
h6 {
    font: small-caps 100% Arial;
}
div.hidden {
	display: none;
}
div.element {
	margin: 10px 0 10px 0;
}
