/**
 * Author: Ondřej Václavík
 * Email: ahoj@ondrejvaclavik.cz
 */

.filter__cards {
	grid-column: 1 / -1;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}

	&--empty .filter__cards__wrapper {
		@include filterInput;
		opacity: 0.5;
	}
}

.filter__card {
	@include filterInput;
	border: none;
	height: auto;
	opacity: .6;
	z-index: 3;
	padding: 0;
	font-style: normal;
	min-width: 0;
	background: #eaeaea;

	&:hover, &--selected {
		opacity: 1;
	}

	&__heading {
		background: #ececec;
		border-bottom: 1px solid #cbcbcb;
		border-top: 1px solid #cbcbcb;
		line-height: 35px;
		text-align: left;
		padding: 0 5px 0 35px;
		position: relative;
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__positive, &__negative {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		background: no-repeat center center;
		background-size: 15px 15px;
		position: absolute;
		left: 0;
		padding: 10px;
	}

	&__positive {
		background-image: url(../images/positive.svg);
	}

	&__negative {
		background-image: url(../images/negative.svg);
	}

	&__segment {
		border: 1px solid #cbcbcb;
		appearance:none;
		background: #fff;
		position: relative;

		&:not(:first-child) {
			border-top-width: 1px;

			.filter__card__heading {
				border-top-width: 0;
			}
		}

		&--add {
			border-color: #8bb715;

			& .filter__card__heading {
				background: #f2f8e1;
				border-color: #8bb715;
				color: #719a02;
			}
		}

		&--remove {
			border-color: #de3f3e;

			& .filter__card__heading {
				background: #ffe2e2;
				border-color: #de3f3e;
				color: #de3f3e;
			}
		}
	}

	&__item {
		padding: 8px 0 8px 10px;
		line-height: 1;
		display: flex;
		flex-wrap: wrap;
		column-gap: 7px;
		align-items: baseline;

		b {
			font-weight: bold;
		}

		&:nth-child(even) {
			background: #f3f3f3;
		}

		small {
			font-size: .8em;
		}
	}

	&__value {
		flex: 1 1 auto;
		padding-right: 20px;

		ins, del {
			display: block;
			position: relative;
			line-height: 13px;
		}

		ins {
			color: #8bb715;
		}

		del {
			color: #de3f3e;
			text-decoration: line-through;
		}

		&--full {
			width: 100%;
			line-height: 1.3;
			margin: 0 0 5px 0;
		}
	}

	.badge {
		position: absolute;
		right: -30px;
		top: 0;
		display: block;
		height: 13px;
		line-height: 13px;
		padding: 0 10px 0 12px;
		background: #de3f3e url(../images/remove.svg) no-repeat center center;
		background-size: 13px;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);

		&:before {
			content: "";
			position: absolute;
			top:0;
			left: -7px;
			width: 0;
			height: 0;
			border-color: transparent #de3f3e transparent transparent;
			border-style: solid;
			border-width: 7px 7px 7px 0;
		}
	}

	&__segment > .badge {
		right: -10px;
		top: 10px;
	}

	ins .badge, .filter__card__segment--add .badge {
		background-color: #97c224;
		background-image: url(../images/plus.svg);

		&:before {
			border-right-color: #97c224;
		}
	}

	&__toggle {
		width: 50px;
		height: 40px;
		padding: 12px 10px;
		display: block;
		overflow: hidden;
		position: absolute;
		bottom: -20px;
		left: calc(50% - 50px/2);
		text-indent: -2000rem;
		z-index: 1;
		box-sizing: border-box;

		&:after {
			position: absolute;
			top: 12px;
			content: "";
			display: block;
			color: #cbcbcb;
			width: 28px;
			height: 14px;
			border: 1px solid;
			border-radius: 5px;
			background: #eee no-repeat center center;
			background-size: 20px;
		}

		&:hover:after {
			background-color: #fff;
		}

		&--open:after {
			background-image: url(../images/dots.svg);
		}

		&--close:after {
			background-image: url(../images/chevron_top.svg);
		}
	}
}
