/**
 * Author: Ondřej Václavík
 * Email: ahoj@ondrejvaclavik.cz
 */

@mixin filterInput {
	width: 100%;
	height: 33px;
	line-height: 33px;
	border: 1px solid #cbcbcb;
	border-top-width: 2px;
	appearance:none;
	background: #fff;
	padding: 0 27px 0 7px;
	font-size: 13px;
	font-style: italic;
	color: #515151;
	cursor: pointer;
	text-overflow: ellipsis;
	box-sizing: border-box;

	&:disabled {
		opacity: 0.5;
	}
}

.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;

	select {
		@include filterInput;
		background: #fff url(../images/arrow_down.svg) no-repeat calc(100% - 10px) center;
		background-size: 10px;
	}

	&__button {
		grid-column-start: 1;
		padding: 11px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #fff;
		background: #008000 center center no-repeat;
		background-size: 15px;
		margin: 15px 0;
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&:before, &:after {
			width: 15px;
			height: 15px;
			display: inline-block;
			background: center center no-repeat;
			background-size: 15px;
			padding: 0 10px;
		}

		&--back {
			padding-right: 25px;

			&:before {
				content: "";
				background-image: url(../images/chevron_left.svg);
			}
		}

		&--forward {
			padding-left: 25px;

			&:after {
				content: "";
				background-image: url(../images/chevron_right.svg);
			}
		}

		&:hover {
			background-color: #466537;
		}

		&:active {
			background-color: #3a542e;
		}

		&--disabled {
			&, &:hover, &:active {
				background-color: grey;
			}
		}
	}
}
