/**
 * Author: Ondřej Václavík
 * Email: ahoj@ondrejvaclavik.cz
 */

.metadata-table {
	&__sub {
		padding: 0;

		table {
			border: none;
			background: #fff;
		}
	}

	&__switch {
		padding: 5px 5px 5px 30px;
		display: inline-block;
		overflow: hidden;
		z-index: 1;
		box-sizing: border-box;
		border: 1px solid #cbcbcb;
		border-radius: 5px;
		color: #000;
		background: #eee no-repeat 5px 1px;
		cursor: pointer;
		position: relative;
		margin: -5px 0;

		&:hover {
			background-color: #fff;
		}

		&--expand {
			background-image: url(../images/dots.svg);
		}

		&--collapse {
			margin: -3px 0 0 0;
			text-indent: -1000rem;
			padding: 2px 0 2px 20px;
			background-image: url(../images/chevron_top.svg);
			background-position: 2px 0;
			width: 20px;
			height: 20px;
		}
	}

	&__row-collpsable {
		display: flex;

		.metadata-table__switch {
			margin-left: auto;
		}
	}
}

&.metadata {
	table > tr:nth-child(2n) > td, table > tr:nth-child(2n) > th {
		background: #f0f0f0;
	}
	table > tr:nth-child(2n+1) > td, table > tr:nth-child(2n+1) > th {
		background: #fff;
	}
	table tr:hover > td, table tr:hover > th {
		background: #e8e8e8;
	}
}
