/**
 * Author: Ondřej Václavík
 * Email: ahoj@ondrejvaclavik.cz
 */

.result-table {

	thead th {
		padding: 0;
		background-position: top 5px right 0 !important;
	}

	&__header {
		width: 1px;
		height: 1px;
		margin: 0 0 110px 0;
		padding-right: 40px;

		span {
			display: block;
			transform: rotate(-90deg) translateX(-50%);
			width: 92px; height: 0;
			padding-right: 10px;
			margin-left: -45px;
			font-weight: 500;
			font-size: 1.1em;
		}
	}

	td {
		vertical-align: top;
		padding: 8px 5px;
		border-bottom: 1px solid #98bd94;
	}

	.value {
		white-space: nowrap;

		small {
			display: block;
			font-size: 0.8em;
			padding-top: 2px;
		}
	}

}
